# Node.js dependencies
node_modules/
package-lock.json

# AWS SAM build artifacts
.aws-sam/
serverless.yaml

# Serverless Framework build artifacts
.serverless/

# Webpack build artifacts
.webpack/

# Secret keys & sensitive files (DO NOT COMMIT private keys)
secret.pem

# VS Code settings (optional)
.vscode/

# Logs and temporary files
*.log
.DS_Store
